---
layout: page
---

<div class="small-12 columns {{ page.style }}">

  <div class="callout large primary">
    <div class="media-object">
      <div class="media-object-section">
        <img src="https://tabor.pirati.cz/static/budpirat-small.png"
          alt="ukážeme prstem na korupci" class="img-responsive float-left" />
      </div>
      <div class="media-object-section">
        <p>
          <a href="/blog/jsou-pirati-dobrou-volbou/">Piráti představují novou netradiční stranu nezatíženou korupčními a klientelistickými skandály</a>.
          Fungujeme plně transparentně a tyto principy chceme přenést na krajskou úroveň.
          V Praze nebo Brně se našim zastupitelům daří úspěšně zavádět transparentní opatření a upozorňovat na korupční skandály.
        </p>
        <h5>To samé chceme dělat v Jihočeském kraji. <a href="#podpornas">Podpoř nás.</a></h5>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="small-12 large-6 columns {{ page.style }}">

    <h2>Z volebního programu</h2>
    <ul>
      <li><a href="/program/#otevreme_hospodareni">Otevřeme hospodaření kraje</a></li>
      <li><a href="/program/#moderni_technologie">Prosadíme moderní technologie</a></li>
      <li><a href="/program/#zapojime_obcany">Zapojíme občany do rozhodování</a></li>
    </ul>
    <p>
      Klíčem k prosperitě naší společnosti je otevřenost, transparentnost, svoboda informací,
      použití nových technologií a zapojení občanů do rozhodování.
      Piráti nabízí alternativu kraje bez korupce, nesmyslných dotací, politických trafik a klientelismu.
      Chceme, aby krajské úřady nebyly pro aktivní občany byrokratickou překážkou,
      ale příležitostí zapojit se do veřejného dění a kultivace svého okolí ... <a href="/program/">Více</a>
    </p>

    <iframe src="https://www.youtube.com/embed/UgzpFjlHar4"
      frameborder="0" allowfullscreen width="560" height="315" >
    </iframe>

    <h2 id="podpornas">Podpoř nás</h2>
    <ul>
      <li><a href="http://www.krajskevolby2016.cz/"><i class="fi-heart"></i> Hlavně přijď k volbám! :)</a></li>
      <li><a href="https://www.pirati.cz/ao/clen"><i class="fi-torsos-all"></i> Jako člen a aktivní občan</a></li>
      <li><a href="https://redmine.pirati.cz/"><i class="fi-arrows-in"></i> Jako dobrovolník na některém z projektů</a></li>
      <li><a href="https://www.pirati.cz/fo/dary"><i class="fi-dollar"></i> Finančním darem</a></li>
    </ul>

    <h2>Zastupitelé</h2>
    <ul>
      <li>V <a href="https://www.pirati.cz/regiony/jiznicechy/pisecko/start">Písku</a> je zastupitelem člen Pirátů Martin Brož.</li>
      <li>Na soběslavské radnici za vás bojují <a href="http://pirati.sobeslav.cz/volby-2014/nasi-zastupitele/">nezávislí Pirátští zastupitelé</a> Martin Kákona a Iveta Matějů.</li>
      <li>V Táboře jsme součástí hnutí <a href="">JINAK!</a>, které má tři zastupitele.</li>
      <li>Náš člen Petr Steinbauer prosazuje Pirátský program ve spolupráci s <a href="http://volbats.cz/program/">Volbou pro město Trhové Sviny</a>.</li>
    </ul>

  </div>

  <div class="small-12 large-6 columns {{ page.style }}">
    <section role="articles"><!-- posledni 2 články -->
      {% for post in site.posts limit:2 %}
      {% include shared/articlesumary.html %}
      {% endfor %}
    </section>
  </div>
</div>
